# **Bloque 10 <br> Pandas <br> Ejercicios de repaso**

### **Nombre del proyecto:** block10-03-review-pandas

In [ ]:
lst1 = ['gato', 'perro', 'ratón', 'elefante', 'rinoceronte']
lst2 = [x for x in range(1, 6)]

print(lst1)
print(lst2)
print(type(lst1))
print(type(lst2))

1. Convierte lst1 a un Series y lst2 a otro Series. Una vez creados, combinar los Series para crear un DataFrame.

In [ ]:
import pandas as pd

series_animales = pd.Series(lst1)
series_numerica = pd.Series(lst2)

dataframe = pd.DataFrame({'Columna1':
series_animales, 'Columna2': series_numerica})

dataframe

2. Renombra la columna basada en lst1 creada previamente a "animales".

In [ ]:
dataframe = dataframe.rename(columns={'Columna1': 'animales'})

print(dataframe)
dataframe

3. Crea dos series de tamaño 10 con valores entre 1 y 10. Elimina del series1 los elementos que aparezcan en Series2.

In [ ]:
import numpy as np

series1 = pd.Series(np.random.randint(1, 11, size=10))
print("series1 original:")
print(series1)

series2 = pd.Series(np.random.randint(1, 11, size=10))
print("series2:")
print(series2)

# isin verifica si los elementos de una serie se encuentran en otra serie
series1 = series1.drop(series1[series1.isin(series2)].index)

print("series1 después de eliminar elementos comunes con series2:")
print(series1)
series1 = pd.Series(np.random.randint(1, 11, size=10))
print("series1 original:")
print(series1)

series2 = pd.Series(np.random.randint(1, 11, size=10))
print("series2:")
print(series2)

4. Obtén los elementos no comunes en ambas series

In [ ]:
series1 = pd.Series(np.random.randint(1, 11, size=10))
print("series1 original:")
print(series1)

series2 = pd.Series(np.random.randint(1, 11, size=10))
print("series2:")
print(series2)

elementos_no_comunes = series1[~series1.isin(series2)].append(series2[~series2.isin(series1)])
print(elementos_no_comunes)

5. Obtén el mínimo y los percentiles 25, 50, 75 y 80 de la primera serie.

In [ ]:
minimo = series1.min()
percentiles = series1.describe(percentiles=[0.25, 0.50, 0.75, 0.80])[
    ["25%", "50%", "75%", "80%"]]

print("Mínimo:")
print(minimo)

print("Percentiles:")
print(percentiles)

6. Obtén la frecuencia con la que se repite cada valor.

In [ ]:
print(series1)
print(series1.value_counts().sort_values()) 
print(series1.value_counts().sort_index())

7. Mantén el valor de los dos elementos más repetidos y al resto asignale el valor "Otros".

In [ ]:
print("Serie nueva:")
series_nueva = pd.Series([2,2,4,4,4,4,1,9,8,7,4])
print(series_nueva)

# apply(f). Devuelve una serie con el resultado de aplicar la función f a cada uno de los elementos de la serie.
print("Serie con valores asignados:")
series_nueva.apply(lambda x: x if x in series_nueva.value_counts().nlargest(2).index else "Otros")

8. Crea un Series de tamaño 35 con valores aleatorios. Crea un DataFrame basado en este Series de dimensión 7 filas y 5 columnas.

In [ ]:
series_aleatorio = pd.Series(np.random.randint(1, 101, size=35))
print("Series aleatorio:")
print(series_aleatorio)

dataframe = pd.DataFrame(series_aleatorio.values.reshape(7, 5))
print("\nDataFrame:")
dataframe

9. Partiendo de las series creadas en el *Ejercicio 1* apilar las dos series verticalmente.

In [ ]:
series1 = pd.Series(lst1)
series2 = pd.Series(lst2)

display(series1)
display(series2)
pd.concat([series1, series2], axis=0)

10. Ahora apila horizontalmente.

In [ ]:
print(pd.concat([series1, series2], axis=1))
pd.concat([series1, series2], axis=1)

11. Cómo convertir en mayúscula el primer caracter de Series de animales.

In [ ]:
series_animales=series1.copy()

display(series_animales.str.upper())
series_animales.str.capitalize()

12. Calcula el número de caracteres de cada elemento.

In [ ]:
display(series_animales.str.len())

13. Calcula la diferencia entre los valores de cada elemento consecutivo del Series numérico

In [ ]:
display(series_numerica)

series_numerica.diff()

14. Dada la lista siguiente de fechas, carga un Series de string a datetime
['2015-08-06T12:20', '2012-04-02', '2021/01/03', '20191121', '01-12-2015', '04 Jan 2007'].

In [ ]:
lista_fechas_str=['2015-08-06T12:20', '2012-04-02', '2021/01/03', '20191121', '01-12-2015', '04 Jan 2007']
display(lista_fechas_str)


print(type(lista_fechas_str))

for elemento in lista_fechas_str:
    tipo_elemento = type(elemento)
    print(tipo_elemento)


serie_fechas_str= pd.Series(lista_fechas_str)
display(serie_fechas_str)
print(type(serie_fechas_str))
print(serie_fechas_str.dtype)
# Al convertir a series panda almacena los valores como object (genérico) aunque aun se tiene acceso a metodos str


serie_fechas_date= pd.to_datetime(serie_fechas_str)

serie_fechas_date

15. Obtén el día del año del Series anterior.

In [ ]:
serie_fechas_date.dt.dayofyear

16. Obtén el día de la semana.

In [ ]:
serie_fechas_date.dt.day_name()

17. Crea un DataFrame basado en un Series de 10 elementos que se genere aleatoriamente entre "manzana", "plátano", "zanahoria" y pesos que sea un Series de 10 elementos aleatorios entre 1 y 10. Calcula la media del peso por fruta.

In [ ]:
frutas = pd.Series(np.random.choice(['manzana', 'plátano', 'zanahoria'], size=10))
display(frutas)

pesos = pd.Series(np.random.randint(1, 11, size=10))
display(pesos)


df_frutas_pesos = pd.DataFrame({'frutas': frutas, 'pesos': pesos})
display(df_frutas_pesos)


df_frutas_pesos.groupby('frutas')['pesos'].mean()

18. Crea un Series que contenga los 10 primeros lunes de 2022 como índice y un número aleatorio como valor.

In [ ]:
# Crear un rango de fechas para los primeros 10 lunes de 2022
fechas_lunes = pd.date_range(start='2022-01-01', periods=10, freq='W-MON')

# Crear un Series con índice de fechas y valores aleatorios
serie_lunes = pd.Series(np.random.randint(1, 100, size=10), index=fechas_lunes)

# Agregar una columna con el nombre del día
serie_lunes_con_dia = pd.concat([serie_lunes, serie_lunes.index.to_series().dt.day_name()], axis=1)
serie_lunes_con_dia.columns = ['valor', 'dia']

display(serie_lunes_con_dia)

19. Crea un DataFrame basado en el Series del *Ejercicio 18* con las columnas llamadas fecha y precio.

In [ ]:
df = pd.DataFrame({'fecha': serie_lunes.index, 'precio': serie_lunes})
df

20. Genera un DataFrame de 5x5 y posteriormente invierte el orden de los valores de sus filas.

In [ ]:
# Generar un DataFrame de 5x5 con valores aleatorios
df = pd.DataFrame(np.random.randint(1, 10, size=(5, 5)))

# Invertir el orden de las filas del DataFrame
df_invertido = df[::-1]

print(df)
print()
print(df_invertido)

21. Añade una nueva columna que sea el máximo entre el mínimo de cada fila.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, size=(5, 5)))
df['max/min'] = df.max(axis=1) / df.min(axis=1)

df