# **Bloque 10 <br> Pandas**

### **Nombre del proyecto:** block10-01-pandas

#### **Ejercicios con Series 1**

In [ ]:
brand = ['Camp', 'Camp', 'Petzl', 'Petzl', 'Edelrid', 'Edelrid',
         'Edelrid', 'Black Diamond', 'Black Diamond', 'Mammut']
models = ['Energy', 'Jasper', 'Simba', 'Adjama New',
          'Moe', 'Orion', 'Leaf', 'Xenes', 'Chaos', 'Ophir']
prices = [39.90, 56.00, 45.00, 75.00, 49.90,
          99.90, 65.00, 119.90, 99.90, 56.00]

1. Crea las listas brand, models y prices citadas anteriormente.

In [ ]:
brand = ['Camp', 'Camp', 'Petzl', 'Petzl', 'Edelrid', 'Edelrid',
         'Edelrid', 'Black Diamond', 'Black Diamond', 'Mammut']
models = ['Energy', 'Jasper', 'Simba', 'Adjama New',
          'Moe', 'Orion', 'Leaf', 'Xenes', 'Chaos', 'Ophir']
prices = [39.90, 56.00, 45.00, 75.00, 49.90,
          99.90, 65.00, 119.90, 99.90, 55.00]

2. Define una Series en la que models sean los índices y prices los valores

In [ ]:
import pandas as pd

serie = pd.Series(prices, index=models)

print(serie)

3. Muestra los modelos con el precio menor que 70 euros.

In [ ]:
print(serie[serie < 70])

print("\n", serie[serie < 70].index)

4. Define una nueva Series que contengaa el precio original para todos los productos excepto para la marca (brand) "Edelrid", a la que hay que realizarle el 10% de descuento.

In [ ]:
precio_original = pd.Series(prices, index=brand)

descuento_aplicado = precio_original.copy()

descuento_aplicado.loc[descuento_aplicado.index == "Edelrid"] *= 1.1

print(precio_original, "\n")
print(descuento_aplicado)

#### **Ejercicios con DataFrames**

1. Usando las listas brands, models y prices del ejercio anterior. Crear un DataFrame llamado data_frame que almacene toda esta información en tres columnas (brand, model y price) y los índices los genere automáticamente.

In [ ]:
import pandas as pd

data_frame = pd.DataFrame({'brand': brand, 'model': models, 'price': prices})

print(data_frame)

data_frame

2. Mostrar la columna "Brand".

In [ ]:
print(data_frame['brand'])

data_frame['brand']

3. Muestra la quinta fila.

In [ ]:
print(data_frame.iloc[5])

4. Modifica el precio del modelo "Energy" a 9999.

In [ ]:
data_frame.loc[data_frame['model'] == 'Energy', 'price'] = 9999

data_frame

5. Crea una nueva columna “Discount” con el valor 50 para cada fila.

In [ ]:
data_frame['Discount'] = 50

data_frame

6. Usando el DataFrame del Ejercicio 5, crea un nuevo DataFrame que añada las columnas "Sales" y "Total".

In [ ]:
# Añadir columnas vacías al DataFrame
data_frame['Sales'] = ''
data_frame['Total'] = None


data_frame

7. Borra la primera y séptima fila.

In [ ]:
data_frame = data_frame.drop([0, 6])

data_frame

8. Borra la primera y tercera columna.

In [ ]:
# Jupyter Notebook por defecto solo muestra el valor de la variable cuando se encuentra en la última línea de la celda. 
# Si hay múltiples expresiones en una celda para mostrar usar función display().

data_frame = pd.DataFrame({'brand': brand, 'model': models, 'price': prices})
display(data_frame)

data_frame = data_frame.drop(columns=['brand', 'price'])
display(data_frame)

data_frame = pd.DataFrame({'brand': brand, 'model': models, 'price': prices})
display(data_frame.drop(data_frame.columns[[0, 2]], axis=1))
data_frame

9. Muestra la información para la marca "Edelrid".

In [ ]:
info_edelrid = data_frame.loc[data_frame['brand'] == 'Edelrid']
info_edelrid
print(data_frame.loc[data_frame['brand'] == 'Edelrid'])
display(data_frame.loc[data_frame['brand'] == 'Edelrid'])

print(info_edelrid)
info_edelrid

10. Muestra todos los valores con un precio mayor que 70.

In [ ]:
pd.DataFrame({'brand': brand, 'model': models, 'price': prices})

#print(data_frame[data_frame['price'] > 70])

11. Cree una lista con 10 número aleatorios entre 0 y 500 y añadelo como valor de la columna "Sales".

In [ ]:
import random

data_frame = pd.DataFrame({'brand': brand, 'model': models, 'price': prices})

# Generar lista de 10 números aleatorios entre 0 y 500
sales_values = [random.randint(0, 500) for _ in range(10)]

# Añadir la lista de números aleatorios como valores de la columna "Sales"
data_frame['Sales'] = sales_values

print(data_frame)
data_frame

12. Calcula el valor de la columna “Total” del resultado de multiplicar el precio y las ventas.

In [ ]:
data_frame['Total'] = data_frame['price'] * data_frame['Sales']

print(data_frame)

13. Muestra la información del DataFrame ordenado por ventas.

In [ ]:
print(data_frame.sort_values('Sales'), "\n")

print(data_frame.sort_values('Sales',ascending=True),"\n")

print(data_frame.sort_values('Sales',ascending=False),"\n")

display(data_frame.sort_values('Sales'))

display(data_frame.sort_values('Sales',ascending=True))

data_frame.sort_values('Sales',ascending=False)

14. Usando la función apply cambia el formato a dos decimales.

In [ ]:
data_frame = data_frame.applymap(lambda x: round(x, 2) if isinstance(x, (int, float)) else x)

print(data_frame)
data_frame

15. Muestra la principal información de las variables estadísticas de las columnas de tipo numérico.

In [ ]:
columnas_numericas = data_frame.select_dtypes(include=['int64', 'float64'])
info_estadistica_numerica = columnas_numericas.describe()

print(info_estadistica_numerica)
info_estadistica_numerica

16. Muestra la principal información de las variables estadísticas de las columnas de tipo categórico.

In [ ]:
columnas_categoricas = data_frame.select_dtypes(include='object')
info_estadistica_categorica = columnas_categoricas.describe()

print(info_estadistica_categorica)

info_estadistica_categorica

17. Muestra si hay algún valor nulo.

In [ ]:
print(data_frame,"\n")

print(data_frame.isnull(),"\n")

print(data_frame.isnull().any(),"\n")

print(data_frame.isnull().any().any(),"\n")

data_frame.isnull().any().any()

18. Calcula el número de productos para cada marca.

In [ ]:
print(data_frame['brand'].value_counts())

data_frame['brand'].value_counts()

19. Guarda la información del DataFrame en un fichero xlsx.

In [ ]:
data_frame.to_excel('data_frame.xlsx')